<!doctype html>
<html style="width:300px;"> 
  <head>
    <title>Bookmark</title>
    <link rel="stylesheet" href="../css/popup.css">
  </head>
  <body>
    <div class="headerCard">
      <h1 class="headerTitle">Bookmarks</h1>
      <!-- User profile hidden until update -->
      <div class="userProfile">
        <img src="../../icons/user-icon64.png" id="user" hidden/>
    </div>
    </div>
    <div id="existingBookmarks">
    </div>
    <div id="newBookmarkRow" class="bookmarkCard">
      Add New Bookmark
    </div>
  </body>
  <script src="../../popup.js"></script>
</html>

