.settingsWheel {
  grid-column:2;
  display: flex; 
  justify-content: flex-end;
}

.bookmarkTitle {
  grid-column:1;
  overflow: hidden;
}

.bookmarkCard {
  display: grid;
  grid-template-columns: 260px;
  background-color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bookmarkCard:hover {
  background-color: yellow;
}